.login-card {
    height: 40vh;
    width: 28vw;
    border: 1px solid black;
    margin: 0 auto;
    top: 25%;
    left:35%;
    justify-content: center;
    position: fixed;
    border-radius: 10px;
}

.signup-form-card {
    margin-top:15px;
}

.email-text {
    margin-top: 10px;
    font-size: 1.25rem;
    margin-left: 20px;
}

.mail-input-value {
    margin-top: 10px;
    border-radius: 5px;
    height: 1.5rem;
    width: 80%;
    margin-left: 20px;
}

.pass-text {
    margin-top: 10px;
    font-size: 1.25rem;
    margin-left: 20px;
}

.pass-input-value {
    margin: 10px;
    border-radius: 5px;
    height: 1.5rem;
    width: 80%;
    margin-left: 20px;
}

.btn{
    margin-top: 20px;
    border-radius: 5px;
    height: 2rem;
    margin-left: 100px;
    background-color: aquamarine;
    width: 60%;
}

.a {
    text-decoration: none;
}

.login-heading {
    top: 20px;
    padding-top: 5px;
    font-size: 1.25rem;
    margin-left: 12rem;
}

.login-button {
    margin-left: 20px;
    width: 80%;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.2rem;
    background-color: rgb(76, 176, 215);
    margin-top: 5px;
}

.signup-link {
    margin-top: 10px;
    margin-left: 1.2rem;
}

.link-text{
    color: blue;
    cursor: pointer;
}